# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Docker
docker-compose.override.yml

